[submodule "Engine/ext/imgui"]
	path = Engine/ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/ext/glfw"]
	path = Engine/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/ext/glm"]
	path = Engine/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/ext/glew-cmake"]
	path = Engine/ext/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "Engine/ext/microprofile"]
	path = Engine/ext/microprofile
	url = https://github.com/jonasmr/microprofile.git
