[submodule "Engine/ext/imgui"]
	path = Engine/ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/ext/glfw"]
	path = Engine/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/ext/glm"]
	path = Engine/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/ext/glew-cmake"]
	path = Engine/ext/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "Engine/ext/microprofile"]
	path = Engine/ext/microprofile
	url = https://github.com/jonasmr/microprofile.git
[submodule "Engine/ext/implot"]
	path = Engine/ext/implot
	url = https://github.com/epezent/implot
[submodule "Engine/ext/entt"]
	path = Engine/ext/entt
	url = https://github.com/skypjack/entt.git
[submodule "Engine/ext/imgui_entt_entity_editor"]
	path = Engine/ext/imgui_entt_entity_editor
	url = https://github.com/Green-Sky/imgui_entt_entity_editor.git
[submodule "Engine/ext/tracy"]
	path = Engine/ext/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Engine/ext/capstone"]
	path = Engine/ext/capstone
	url = https://github.com/capstone-engine/capstone.git
